<body><div fxLayout="column" fxLayoutAlign="start center" class="mat-body-1">
  <h1>
    web‐based application to generate various graphs for ROI, SNR, CNR, histograms, image
projection, thresholding segmentation and standard analytics such as mean standard deviation, median
the for the input image. <br>
Web viewer will have the tools for image visualization (ROI, SNR, CNR, store
data, histograms, projections, standard analytics (mean, std, median), ROI analytics, thresholding
segmentation etc.)
  </h1>
</div></body>
